body {
    background: url("bday.jpg") top left fixed  no-repeat;
    font-family: Helvetica;
}

#wrapper {
}

.box {
    border: 1px;
    background: white;
    border-radius: 25px;
    width: 400px;
    padding: 20px 15px;
    margin: 0 0 15px 0;
}

.describe {
    border: 1px;
    background: #b308b1;
    color: white;
    border-radius: 25px;
    width: 400px;
    padding: 20px 15px;
    margin: 0 0 15px 0;
}

.describe .message {
    font-size: 32px;
    font-weigth: bold;
    display: inline-block;
}

.name {
    font-weight: bold;
    border-bottom: 2px dashed;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    font-size: 18px;
}

.message {
    
}
